@charset "utf-8"; 

@import url(fonts.css);

.container {
	position: relative;
	width: 988px;
	margin: 0 auto;
	overflow: hidden
}

.tituloaplicacao{
	margin-left: 30px;
}

.btPadrao1 {
	-moz-box-shadow: inset 0 1px 0 0 #1891e1;
	-webkit-box-shadow: inset 0 1px 0 0 #1891e1;
	box-shadow: inset 0 1px 0 0 #1891e1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0085de
		), color-stop(1, #005cb7));
	background: -moz-linear-gradient(center top, #0085de 5%, #005cb7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085de',
		endColorstr='#005cb7');
	background-color: #0085de;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5pxh3
	border-radius: 5px;
	border: 1px solid #0070e0;
	display: inline-block;
	color: #fff;
	font: 20px/42px Arial;
	height: 42px;
	width: 250px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #0158a3;
	cursor: pointer
}

.btPadrao1:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005cb7
		), color-stop(1, #0085de));
	background: -moz-linear-gradient(center top, #005cb7 5%, #0085de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005cb7',
		endColorstr='#0085de');
	background-color: #005cb7;
	text-decoration: none
}

.btPadrao1:active {
	position: relative
}

.btPadrao2 {
	-moz-box-shadow: inset 0 1px 0 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 0 #fff;
	box-shadow: inset 0 1px 0 0 #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fff),
		color-stop(1, #dcdcdc));
	background: -moz-linear-gradient(center top, #fff 5%, #dcdcdc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#dcdcdc');
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bebebe;
	display: inline-block;
	color: #666;
	font: 20px/42px Arial;
	height: 42px;
	width: 250px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	cursor: pointer
}

.btPadrao2:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dcdcdc
		), color-stop(1, #fff));
	background: -moz-linear-gradient(center top, #dcdcdc 5%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc',
		endColorstr='#ffffff');
	background-color: #dcdcdc;
	text-decoration: none
}

.btPadrao2:active {
	position: relative
}

button.btPadrao1, button.btPadrao2 {
	height: 44px
}

#barra-global-container {
	margin-top: 15px
}

header {
	position: relative;
	clear: both;
	width: 988px;
	height: 78px;
	margin: 0 auto;
	border-bottom: 5px solid #f8f8f8
}

header h1 {
	float: left;
	color: #868f9e;
	font: 36px/36px MuseoSans700, arial;
	display: inline-block;
	margin-top: 22px
}

header h2 {
	float: left;
	color: #868f9e;
	font: 24px/36px MuseoSans300, arial;
	display: inline-block;
	margin: 22px 0 0 15px;
	height: 36px;
	border-left: 1px solid #cfd2d8;
	padding-left: 10px
}

#powered {
	position: absolute;
	background: url(/cadastro-static/img/powerded_by_google.jpg) no-repeat;
	width: 180px;
	height: 24px;
	top: 50%;
	right: 0;
	overflow: hidden;
	text-indent: -9999px
}

h3 {
	font: 48px MuseoSans100, arial;
	color: #2e6e9e;
	letter-spacing: -2px;
	margin-top: 25px
}

h4 {
	font: 24px/50px MuseoSans300, arial;
	color: #999
}

footer {
	width: 100%;
	min-width: 988px;
	height: 100px;
	background: #f8f8f8;
	border-top: 1px solid #d4d4d4;
	clear: both;
	padding-top: 12px
}

footer .container {
	width: 988px;
	margin: 0 auto
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left
}

footer ul li {
	border-right: 1px solid #cecece;
	float: left;
	height: 20px;
	padding: 0 13px
}

footer ul li.first {
	padding-left: 0
}

footer ul li.last {
	padding-right: 0;
	border-right: 0
}

footer ul a {
	color: #0e8be4;
	font: 14px/20px MuseoSans300, arial
}

footer .copyright {
	color: #999;
	font: 14px/20px MuseoSans300, arial;
	float: right
}

#page_login {
	position: relative;
	width: 100%;
	height: 457px;
	min-width: 988px;
	background: url(/cadastro-static/img/login_bg.png) repeat-x;
	overflow: hidden
}

#page_login .container {
	height: 100%
}

#page_login .bgextra {
	position: absolute;
	bottom: 1px;
	left: 50%;
	width: 907px;
	height: 455px;
	margin-left: -744px
}

#page_login.bg1 .bgextra {
	background: url(/cadastro-static/img/bg_ig_mail_01.png) repeat-x
}

#page_login.bg2 .bgextra {
	background: url(/cadastro-static/img/bg_ig_mail_02.png) repeat-x
}

#page_login.bg3 .bgextra {
	background: url(/cadastro-static/img/bg_ig_mail_03.png) repeat-x
}

#page_login.bg4 .bgextra {
	background: url(/cadastro-static/img/bg_ig_mail_04.png) repeat-x
}

#page_login h3 {
	font: 60px MuseoSans300, arial;
	color: #FFF;
	margin-top: 115px
}

#page_login .chamada {
	font: 30px MuseoSans300, arial;
	color: #FFF;
	margin-bottom: 30px
}

#page_login .loginbox {
	position: absolute;
	top: 56px;
	right: 0;
	width: 291px;
	background: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,
		endColorstr=#26ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,
		endColorstr=#26ffffff);
	zoom: 1
}

#page_login .spacer {
	padding: 30px 20px
}

#page_login label {
	margin-bottom: 20px;
	display: block
}

#page_login label p {
	color: #FFF;
	font: 11px arial;
	text-transform: uppercase;
	margin-bottom: 5px
}

#page_login label input {
	width: 230px
}

#page_login .esqueci {
	text-align: right;
	margin-bottom: 10px
}

#page_login .esqueci a {
	color: #FFF;
	font: bold 11px arial
}

#page_login label .error_tip {
	position: relative;
	width: 100%;
	height: 24px;
	margin-top: 6px;
	text-indent: 23px;
	font: bold 12px/24px arial;
	color: #f3171c;
	background: #FFF url(/cadastro-static/img/error_x1.png) 5px center
		no-repeat;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

#page_login label .error_tip div {
	position: absolute;
	top: -4px;
	left: 7px;
	width: 9px;
	height: 5px;
	background: url(/cadastro-static/img/seta_up.png) no-repeat
}



input.text.error {
	background-color: #ffebeb !important;
	border: 1px solid #ff9090;
	-webkit-box-shadow: inset 0 0 15px 0 #e9d7d7;
	box-shadow: inset 0 0 15px 0 #e9d7d7
}

input.text:focus, input.text.focus {
	background-color: #fffec9 !important;
	border: 1px solid #ffd303;
	-webkit-box-shadow: inset 0 0 15px 0 #e9e8b8;
	box-shadow: inset 0 0 15px 0 #e9e8b8
}

.loadingblock {
	display: inline-block;
	font: 18px/42px arial;
	color: #868f9e;
	margin-left: 20px;
	background: url(/cadastro-static/img/ajax-loader.gif) center left
		no-repeat;
	text-indent: 40px
}

.formspacer {
	position: relative;
	margin: 12px 0 12px 30px;
	overflow: hidden
}

.formspacer label {
	display: block;
	font: 14px arial;
	color: #666;
	margin-bottom: 6px
}

.formspacer .bloco {
	float: left
}

.formspacer .errorblock, .formspacer .loadingblock {
	margin-top: 20px
}

.formspacer .successblock {
	margin-top: 24px
}

label.big {
	font: 24px MuseoSans300, arial;
	color: #6e7683
}

label.big small {
	font-size: 15px
}

label.radiocheck {
	float: left;
	margin-right: 20px;
	padding-top: 2px;
	font: 18px arial;
	color: #666;
	text-transform: none;
	text-indent: 1px
}

.captcha {
	position: relative;
	width: 100%;
	overflow: hidden
}

.captcha .bloco {
	float: left;
	margin-top: 14px
}

.captcha .tooltip {
	position: relative;
	float: left;
	width: 275px;
	border: 2px solid #bde4ff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-left: 30px;
	margin-top: 18px
}

.captcha .tooltip p {
	padding: 20px;
	font: 14px/18px arial;
	color: #666
}

.captcha .tooltip .seta {
	position: absolute;
	top: 50%;
	left: -9px;
	margin-top: -7px;
	width: 9px;
	height: 17px;
	background: url(/cadastro-static/img/seta_tip_captcha.jpg)
}

.forca_senha {
	float: left;
	margin-left: 20px
}

.forca_senha .forca_title {
	font: 11px arial;
	color: #505050;
	text-transform: uppercase
}

.forca_senha .dicas {
	font: 11px arial
}

.forca_senha .dicas a {
	font: 11px arial;
	color: #008ff7
}

.forca_senha .barra {
	margin: 20px 0 5px;
	width: 265px;
	height: 12px;
	border: 1px solid #cacaca;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.forca_senha .barra .bloco {
	position: relative;
	width: 259px;
	height: 6px;
	margin: 3px;
	background: #cacaca
}

.forca_senha .barra .bloco .porcentagem {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%
}

.forca_senha .barra .bloco .divisores {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.forca_senha .barra .bloco .divisores div {
	float: left;
	margin-left: 25px;
	width: 1px;
	height: 100%;
	background: #000;
	-ms-filter: alpha(opacity = 10);
	filter: alpha(opacity = 10);
	-moz-opacity: .1;
	-khtml-opacity: .1;
	opacity: .1;
	zoom: 1
}

.forca_senha.forte .forca_title .nivel {
	color: #37a600
}

.forca_senha.medio .forca_title .nivel {
	color: #ffc000
}

.forca_senha.fraco .forca_title .nivel {
	color: #f10039
}

.forca_senha.forte .barra .bloco .porcentagem {
	background: #37a600
}

.forca_senha.medio .barra .bloco .porcentagem {
	background: #ffd800
}

.forca_senha.fraco .barra .bloco .porcentagem {
	background: #f10039
}

#esqueci_senha {
	min-height: 600px
}

#esqueci_senha.parte1 label {
	font: 24px MuseoSans300, arial;
	color: #999
}

#esqueci_senha.parte1 #email {
	float: left;
	width: 274px
}

#esqueci_senha .errorblock {
	margin-top: 0
}

#esqueci_senha.parte2 .seu_email span {
	font: 24px MuseoSans700, arial;
	color: #666
}

#esqueci_senha.parte2 .seu_email a {
	font: bold 11px arial;
	color: #39f;
	margin-left: 20px
}

#esqueci_senha.parte2 .impossivel {
	margin-top: 40px;
	width: 700px
}

#esqueci_senha.parte2 .impossivel p {
	font: 24px/32px MuseoSans100, arial;
	color: #666;
	margin-bottom: 20px
}

#esqueci_senha.parte2 .impossivel p a {
	font: 24px/32px MuseoSans300, arial;
	color: #39f
}

#esqueci_senha.parte2 .bloco_opcoes {
	margin-top: 90px;
	overflow: hidden
}

#esqueci_senha.parte2 .bloco_opcoes li {
	position: relative;
	float: left;
	width: 315px;
	margin-left: 21px;
	min-height: 250px
}

#esqueci_senha.parte2 .bloco_opcoes li.first {
	margin-left: 0
}

#esqueci_senha.parte2 .bloco_opcoes li .bloco {
	padding-left: 56px
}

#esqueci_senha.parte2 .bloco_opcoes li .icone {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px
}

#esqueci_senha.parte2 .bloco_opcoes .lembrete .icone {
	background: url(/cadastro-static/img/lembrete_icon.jpg)
}

#esqueci_senha.parte2 .bloco_opcoes .email .icone {
	background: url(/cadastro-static/img/email_icon.jpg)
}

#esqueci_senha.parte2 .bloco_opcoes .celular .icone {
	background: url(/cadastro-static/img/celular_icon.jpg)
}

#esqueci_senha.parte2 .bloco_opcoes li .bloco h4 {
	font: 22px/40px MuseoSans700, arial;
	color: #6e7683
}

#esqueci_senha.parte2 .bloco_opcoes li .bloco .infos {
	height: 136px;
	margin: 20px 0 4px
}

#esqueci_senha.parte2 .bloco_opcoes li .bloco .infos p {
	font: 16px MuseoSans500, arial;
	color: #6e7683;
	margin: 0
}

#esqueci_senha.parte2 .bloco_opcoes li .bloco .infos p.destaque {
	font: 20px MuseoSans700, arial;
	color: #0891ee;
	margin: 15px 0
}

#esqueci_senha.parte2 .bloco_opcoes li .over {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background: #FFF
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#990000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000);
	zoom: 1
}

#modal .bloco {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -130px 0 0 -280px;
	width: 560px;
	height: 260px;
	background: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px 0 #333;
	box-shadow: 0 0 10px 0 #333
}

#modal .bloco .close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 14px;
	height: 13px;
	background: url(/cadastro-static/img/close_x_modal.jpg);
	text-indent: -9999px;
	overflow: hidden
}

#modal .bloco .conteudo {
	padding: 60px
}

#modal .bloco .conteudo p {
	text-align: center;
	font: 30px MuseoSans300, arial;
	color: #666;
	letter-spacing: -1px
}

#modal .bloco .conteudo p.especial {
	font: 30px/50px MuseoSans700, arial
}

#modal .bloco .conteudo .botao {
	margin: 10px auto;
	width: 250px
}

#recuperar_senha {
	margin-bottom: 40px
}

#fim_edicao {
	position: relative;
	margin-top: 80px;
	margin-bottom: 80px
}

#fim_edicao h3 {
	font: 48px MuseoSans700, arial;
	color: #098eeb;
	margin: 0
}

#fim_edicao h4 {
	font: 48px MuseoSans100, arial;
	color: #868f9e;
	width: 690px
}

#fim_edicao #gotoemail {
	position: absolute;
	top: 20px;
	right: 0
}

#fim_edicao .bloco_dados {
	margin-top: 90px
}

#fim_edicao .bloco_dados .email {
	position: relative;
	background: #0992ef;
	height: 100px
}

#fim_edicao .bloco_dados .email p {
	font: 30px/100px MuseoSans300, arial;
	color: #FFF;
	text-indent: 30px
}

#fim_edicao .bloco_dados .email a {
	position: absolute;
	top: 0;
	right: 30px;
	font: bold 20px/100px arial;
	color: #FFF
}

#fim_edicao .bloco_dados .mais {
	height: 112px;
	border: 1px solid #e7e7e7;
	background: #f8f8f8
}

#fim_edicao .bloco_dados .mais div {
	float: left;
	height: 100%;
	border-right: 1px solid #e7e7e7
}

#fim_edicao .bloco_dados .mais p.title {
	font: 11px arial;
	color: #999;
	text-transform: uppercase;
	margin: 30px 30px 6px
}

#fim_edicao .bloco_dados .mais p {
	font: 18px arial;
	color: #6e7683;
	margin: 0 30px
}

#fim_edicao .bloco_dados .mais .alternativo {
	width: 310px;
	overflow: hidden
}

#fim_edicao .bloco_dados .mais .celular {
	width: 220px
}

#fim_edicao .bloco_dados .mais .lembrete {
	width: 449px;
	border: 0
}

.cadastro {
	margin-bottom: 20px
}

#novo_email {
	background: url(/cadastro-static/img/bg_email_ig_com_br.png) no-repeat
		390px center
}

#sexo .radiocheck {
	margin-top: 10px
}

#celular_ddd {
	width: 30px;
	margin-right: 10px
}

#celular_numero {
	width: 120px
}

#cadastro_voltar {
	font: 20px arial;
	color: #098eeb;
	margin-left: 20px
}

#alterar_senha {
	font: 20px arial;
	color: #098eeb
}

#notconfirmed {
	clear: both
}

#notconfirmed p {
	font: 13px arial;
	color: #666
}

#notconfirmed p strong {
	color: #f3171c
}

#notconfirmed a {
	width: 200px;
	font-size: 18px;
	margin-top: 10px
}

#dicas_senhas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#990000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000);
	zoom: 1
}

#dicas_senhas .bloco {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -450px;
	width: 900px;
	height: 490px;
	background: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px 0 #333;
	box-shadow: 0 0 10px 0 #333
}

#dicas_senhas .bloco .close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 14px;
	height: 13px;
	background: url(/cadastro-static/img/close_x_modal.jpg);
	text-indent: -9999px;
	overflow: hidden
}

#dicas_senhas .bloco .conteudo {
	padding: 0 60px;
	margin: 50px 0
}

#dicas_senhas .bloco li {
	list-style: disc;
	font: 16px MuseoSans300, arial;
	color: #333;
	margin: 0 0 10px 20px
}

#dicas_senhas .bloco h4 {
	color: #098eeb
}

#erros_gerais {
	margin-top: 50px;
	margin-bottom: 100px;
	min-height: 390px;
	background: url(/cadastro-static/img/gato.jpg) no-repeat center right
}

#erros_gerais h3 {
	color: #c33;
	font: 48px/48px MuseoSans500, arial;
	width: 650px
}

#erros_gerais h4 {
	margin: 40px 0 50px;
	color: #868f9e;
	font: 26px/30px MuseoSans100, arial
}

#erros_gerais h4 a {
	color: #098eeb;
	font: 26px/30px MuseoSans300, arial
}

#erros_gerais .btPadrao1 {
	width: 100px
}

#top2 {
	width: 728px;
	height: 93px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -364px
}






.ui-button-text-only .ui-button-text {
	padding: 0.6em 5em;
	font-size: 1.2em;
}

.buttonspacer {
	position: relative;
	margin: 40px 0 22px 10px;
	overflow: hidden;
	text-align: center;
}

.ui-dialog-buttonset .ui-button-text{
	padding: 0.2em 1em;
	font-size: 0.8em;
}

.ui-icon.red { 
	background-image:url("../shared/images/ui-icons_cd0a0a_256x240.png")
}

input {
	font: 20px/42px arial;
	color: #666;
	height: 42px;
	background: #FFF;
	border: 1px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	-webkit-box-shadow: inset 0 0 15px 0 #f0f0f0;
	box-shadow: inset 0 0 15px 0 #f0f0f0
}

input.big {
	width: 484px
}

select {
	font: 20px/42px arial;
	color: #666;
	height: 44px;
	background: #FFF;
	border: 1px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	-webkit-box-shadow: inset 0 0 15px 0 #f0f0f0;
	box-shadow: inset 0 0 15px 0 #f0f0f0
}

input[type="radio"], input[type="checkbox"] {
	height: initial;	
	-webkit-box-shadow: inset 0 0 15px 0 #ffffff;
	width: 1em;
height: 1em;
}


.errorblock {
	display: inline-block;
	font: bold 18px/42px arial;
	color: #eb091e;
	margin-left: 20px;
	background: url(../../images/error.png) center left no-repeat;
	text-indent: 30px
}

.successblock {
	float: left;
	width: 30px;
	height: 30px;
	margin: 23px 0 0 20px;
	background: url(../../images/success.jpg) center left no-repeat
}

.appDataTable{
	padding-right: 30px;
	visibility: hidden;
}

a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
   color: #000000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #000000;
    text-decoration: none;
}

